.right {
  float: right;
}

.padding-right {
  padding-right: 25px;
  padding-bottom: 4px;
}

.padding-left {
  padding-left: 25px;
  padding-bottom: 4px;
}

h4 {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.2rem;
}

h5 {
  font-size: 17px;
}

.letter-spacing {
  letter-spacing: 0.1rem;
}

.extra-margin {
  margin-right: 1.5rem;
}
